services:
  mongodb:
  #switch to mongo:4.4 if your pc does not have a CPU with AVX support
    image: mongo:latest
    container_name: hackathon-mongodb
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - ./mongo-init:/docker-entrypoint-initdb.d/
  mongo-express:
    image: mongo-express
    restart: always
    depends_on:
    - mongodb
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongodb:27017/